html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #0E1419;
}
nav{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    height: 82px;
     
     
}
.name{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 10px;
    margin-left: 200px; 
    padding-top:40px;
    height: 100px; 
     margin-right: 150px;
    width: 190px;
}
h1{
    margin: 0;
    
     margin-top: 5px;
}
p{
    margin: 0;
    font-size: 34px;
    font-weight: 900;
    color: #71E3C6;
}
.position-line{
    border-bottom: 2.5px solid #71E3C6;
}
.components{
    display: flex;
    width: 1000px;
    margin-left: 90px;
    gap: 140px;
    margin-top: 30px;
}
.components a{
    margin-left: 10px;
    margin-top: 21px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    height: 30px !important;
    
}
.components a:hover{
    
    border-bottom: 2.5px solid #71E3C6;
    
}
body{
    height: 150vh;
}
.nav.scrolled {
  background-color: red !important;
  transition: background-color 200ms linear;
  z-index: 1;
  color: black;
}
.test{
    color: red;
}
.start{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.start h1{
    font-size: 55px;
    color: white;
    margin: 0 auto;
}
.small{
    text-shadow: 10px 10px 10px #2e5d83;
    font-family: "DM Serif Text", serif;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 1) 50%, rgba(255,255,255, 0) 105%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.big{
    font-family: "DM Serif Text", serif;
    padding-left: -10px; 
    font-size: 2em;
    text-shadow: 10px 10px 10px #2e5d83;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 1) 80%, rgba(13, 219, 99, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    

}
.underLine{
    height: 40px;
}
.moving-div{
    color: #8196A5;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 2800px;
    padding: 10px;
    
    font-size: 1.5em;
    animation: movingAd 8s linear infinite;
    
}
@keyframes movingAd{
    0% {left:100%;}
    100% {left: -80%; ;}
}
.line-top{
    width: 100%;
    height: 1px;
    background-color: #8196A5;
    margin-top: 40px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #8196A5;
    
}
.top{
    margin-top: 50px;
}
#id{
    color: red;
}

.about-myself{
    width: 610px;    
    margin: 47px auto;
    font-size: 20px;
    color: white;
    display: flex;
}

.projects-link{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.size img{
    width: 100%;
    border: 1px solid #0E1419;
    border-radius: 30px;
}
.image{
    border: 1px solid #0E1419;
    border-radius: 40px;
    width: 33%;
}
.head{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.head h1{
    color: white;
     font-size: 65px;
}
.head p{
    font-size: 42px;
    margin-top: 26px;
    margin-left: 5px;
}
.first{
    height: 150px;
    border: #0F1319 1.5px solid ;
}
.first img{
    height: 100px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.social-place{
    display: flex;
    border: 1px solid #8196A5;
    border-radius: 10px;
    height: 70px;
    align-items: center;
    width: 507px;
}
.social-place p{
    color: white;
    font-size: 25px;
}
.size{
    font-size: 35px;
    color: #71E3C6;
    margin-right: 25px;
    margin-left: 35px ;
}
.go-somewere{
    text-decoration: none;
}
.flex{
    display: flex;
    gap: 20px;
    flex-direction: column !important;
}
.facebook{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.size1{
    height: 35px;
     margin-right: 25px;
    margin-left: 35px ;
}
.social{
    padding-bottom: 150px;
}

